.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #a3b5c1 #f0f4f8; /* For Firefox */
}

/* For WebKit browsers */
.custom-scrollbar::-webkit-scrollbar {
  height: 12px; /* Adjust the height for horizontal scrollbar */
  width: 8px; /* Adjust the width for vertical scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f4f8;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a3b5c1;
  border-radius: 10px;
  border: 3px solid #f0f4f8;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #8a9fae;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none; /* Hide the scrollbar buttons */
}

.cards-container {
  display: flex;
  flex-grow: 1;
  overflow-x: auto;
  padding-bottom: 16px; /* To give space for the scrollbar */
}
