/* Shimmer.css */

@keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }
  
  .shimmer-line {
    display: inline-block;
    background: linear-gradient(to right, #f0f0f0 0%, #e0e0e0 20%, #f0f0f0 40%, #f0f0f0 100%);
    background-size: 2000px 100%;
    animation: shimmer 2s infinite linear;
  }
  
  .view-task-shimmer-container {
    width: 576px;
    height: 100%;
  }
  
  @media screen and (max-width: 585px) {
    .view-task-shimmer-container {
      width: 326px;
      height: 720px;
    }
  }
  